// Typography mixins

@mixin title1 {
  font-weight: 400;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  letter-spacing: -0.015em;
  margin: var(--font-base-line-height) 0 calc(var(--font-base-line-height) * 2);

  @media ($media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }
}

@mixin title2 {
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -0.015em;
  margin: calc(var(--font-base-line-height) * 1.5) 0
    calc(var(--font-base-line-height) * 0.5);

  @media ($media-min-small) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }

  @media ($media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

@mixin title3 {
  font-weight: 600;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -0.015em;
  margin: var(--font-base-line-height) 0
    calc(var(--font-base-line-height) * 0.5);

  @media ($media-min-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }
}

@mixin title4 {
  font-weight: 600;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: var(--font-base-line-height) 0
    calc(var(--font-base-line-height) * 0.5);

  @media ($media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

@mixin large {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -0.015em;
}

@mixin base {
  font-size: inherit;
  line-height: inherit;
}

@mixin small {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  letter-spacing: -0.015em;
}

@mixin micro {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
}

@mixin textAlt {
  font-family: var(--font-family-mono);
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@mixin navLink {
  @include textAlt;
  display: block;
  color: var(--color-accent);
  text-decoration: none;

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}

@mixin button {
  @include textAlt;
  background: var(--color-very-light-gray);
  color: var(--color-gray);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.25rem;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }
}

// Grid mixins

@mixin container($width) {
  padding-left: var(--font-base-line-height);
  padding-right: var(--font-base-line-height);

  & > div {
    padding-top: var(--font-base-line-height);
    padding-bottom: var(--font-base-line-height);
  }

  @media ($media-min-medium) {
    padding-left: calc(var(--font-base-line-height) * 2);
    padding-right: calc(var(--font-base-line-height) * 2);

    & > div {
      padding-top: calc(var(--font-base-line-height) * 3);
      padding-bottom: calc(var(--font-base-line-height) * 3);
    }
  }

  @if $width == full {
    padding-left: 0;
    padding-right: 0;
    @media ($media-min-medium) {
      padding-left: 0;
      padding-right: 0;
    }
  } @else if $width == wide {
    @media ($media-min-medium) {
      & > div {
        max-width: 85em;
        margin: 0 auto;
      }
    }
  } @else if $width == normal {
    @media ($media-min-medium) {
      & > div {
        max-width: 30em;
        margin: 0 auto;
      }
    }
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--font-base-line-height) * 4) var(--font-base-line-height);

  @media ($media-min-medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media ($media-min-large) {
    grid-template-columns: repeat(6, 1fr);
  }
}

@mixin gridFull {
  grid-column: 1/2;

  @media ($media-min-medium) {
    grid-column: 1/5;
  }

  @media ($media-min-large) {
    grid-column: 1/7;
  }
}

@mixin gridMinor {
  grid-column: 1/2;

  @media ($media-min-medium) {
    grid-column: span 2;
  }
}

@mixin gridHalf {
  grid-column: 1/2;

  @media ($media-min-medium) {
    grid-column: span 2;
  }

  @media ($media-min-large) {
    grid-column: span 3;
  }
}

@mixin gridMain {
  grid-column: 1/2;

  @media ($media-min-medium) {
    grid-column: span 2;
  }

  @media ($media-min-large) {
    grid-column: span 4;
  }
}
