// Media Queries
$media-min-small: "min-width: 450px";
$media-max-small: "max-width: 449px";
$media-min-medium: "min-width: 675px";
$media-max-medium: "max-width: 674px";
$media-min-large: "min-width: 900px";