@use 'variables';
@use 'mixins';
@use 'fonts';

html {
  background-color: var(--color-bg);
  font-family: var(--font-family-serif);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: var(--color-fg);
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

caption,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
ol,
ul {
  margin: 0 0 var(--font-base-line-height) 0;
}

ol,
ul {
  padding-left: var(--font-base-line-height);
}

figcaption {
  @include textAlt;
  text-transform: none;
  color: var(--color-gray);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: var(--font-base-line-height);

  span[class*='separator'] {
    position: relative;
    padding-left: calc(var(--font-base-line-height) * .5);
    padding-right: calc(var(--font-base-line-height) * .5);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--font-base-line-height) * .5);
      bottom: 0;
      width: 1px;
      background-color: var(--color-light-gray);
    }
  }

  span[class*='attribution'] {
    text-transform: uppercase;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.blockQuote {
  background: var(--color-very-light-gray);
}

.hero__module {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  @include container('wide');
  background-color: var(--color-bg);
}

.hero__module--home {
  background-image: url('../static/images/flos_vitae.svg');
  background-repeat: no-repeat;
  background-position: center -35%;
  background-size: 100%;

  @media($media-min-large) {
    background-position: center -40%;
    background-size: 70%;
  }
}

.heroTitle {
  @include titleMega;
}

.heroSubtitle {
  @include title1;
  max-width: 37.5rem;
  margin-bottom: 0;
}

.heroDescription {
  @include title2;
  max-width: 37.5rem;
  margin-bottom: 0;
}

// Specifics

.principles-feature-block {
  & svg {
    stroke: var(--color-gold);
    stroke-width: 3px;
  }
}

.workfields-feature-block {
  background-color: var(--color-white);
}

.brandwall-image-block {
  margin-top: calc(var(--font-base-line-height) * 3);

  & picture {
    mix-blend-mode: multiply;
  }
}
