@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
      url('../static/fonts/IBMPlexMono_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
      url('../static/fonts/IBMPlexMono_bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calendas Plus';
  src: local('Calendas Plus'),
      url('../static/fonts/CalendasPlus_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calendas Plus';
  src: local('Calendas Plus'),
      url('../static/fonts/CalendasPlus_bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calendas Plus';
  src: local('Calendas Plus'),
      url('../static/fonts/CalendasPlus_italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// Root CSS Custom properties
:root {
  // These go here otherwise they'll be bundled separately on each component
  --font-family-serif: 'Calendas Plus', 'EB Garamond', 'Garamond', 'Athelas', Georgia, Times, serif;
  --font-family-mono: 'IBM Plex Mono', 'Roboto Mono', 'Menlo', 'Courier New', monospace;

  --color-black: #13111e;
  --color-dark-gray: #2a2834;
  --color-gray: #595861;
  --color-light-gray: #b8b7bb;
  --color-very-light-gray: #e7e7e8;
  --color-white: #fff;
  // --color-teal: #1a2831;
  // --color-red: #ff3530;
  --color-gold: #b79b30;
  --color-beige: #f1ecd9;

  --color-fg: var(--color-black);
  --color-bg: var(--color-white);
  --color-accent: var(--color-gold);

  /* Typography */
  --font-unit: 16px;
  --font-ratio: 0.5vw;
  --font-micro-size: calc(var(--font-unit) * 0.625 + var(--font-ratio)); /* 10px */
  --font-micro-line-height: calc(var(--font-unit) * 0.85 + var(--font-ratio)); /* 12px */
  --font-small-size: calc(var(--font-unit) * 0.875 + var(--font-ratio)); /* 14px */
  --font-small-line-height: calc(var(--font-unit) * 1.3125 + var(--font-ratio)); /* 21px */
  --font-base-size: calc(var(--font-unit) + var(--font-ratio)); /* 16px */
  --font-base-line-height: calc(var(--font-unit) * 1.5 + var(--font-ratio)); /* 24px */
  --font-large-size: calc(var(--font-unit) * 1.125 + var(--font-ratio)); /* 18px */
  --font-large-line-height: calc(var(--font-unit) * 1.6875 + var(--font-ratio)); /* 27px */

  --font-title3-size: calc(var(--font-unit) * 1.3125 + var(--font-ratio)); /* 21px */
  --font-title3-line-height: calc(var(--font-unit) * 1.875 + var(--font-ratio)); /* 30px */
  --font-title2-size: calc(var(--font-unit) * 1.5 + var(--font-ratio)); /* 24px */
  --font-title2-line-height: calc(var(--font-unit) * 2.35 + var(--font-ratio)); /* 33px */
  --font-title1-size: calc(var(--font-unit) * 3.0625 + var(--font-ratio)); /* 49px */
  --font-title1-line-height: calc(var(--font-unit) * 3.3125 + var(--font-ratio)); /* 57px */

  --font-title-mega-size: calc(var(--font-unit) * 4.652 + var(--font-ratio)); /* 74px */
  --font-title-mega-line-height: calc(var(--font-unit) * 5.35 + var(--font-ratio)); /* 85px */
}


html {
  background-color: var(--color-bg);
  font-family: var(--font-family-serif);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: var(--color-fg);
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

caption,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
ol,
ul {
  margin: 0 0 var(--font-base-line-height) 0;
}

ol,
ul {
  padding-left: var(--font-base-line-height);
}

figcaption {
  @include textAlt;
  text-transform: none;
  color: var(--color-gray);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: var(--font-base-line-height);

  span[class*='separator'] {
    position: relative;
    padding-left: calc(var(--font-base-line-height) * .5);
    padding-right: calc(var(--font-base-line-height) * .5);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--font-base-line-height) * .5);
      bottom: 0;
      width: 1px;
      background-color: var(--color-light-gray);
    }
  }

  span[class*='attribution'] {
    text-transform: uppercase;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.blockQuote {
  background: var(--color-very-light-gray);
}

.hero__module {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  @include container('wide');
  background-color: var(--color-bg);
}

.hero__module--home {
  background-image: url('../static/images/flos_vitae.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.heroTitle {
  @include titleMega;
}

.heroSubtitle {
  @include title2;
  font-family: var(--font-family-mono);
  max-width: 37.5rem;
  margin-top: 0;
  margin-bottom: 0;

  & p {
    margin-bottom: 0;
  }
}

.template--contact {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);
}

.contact__section {
  @include container(normal);

  .emailAddress {
    @include title1;
  }
}

// Specifics

.principles-feature-block {
  & svg {
    stroke: var(--color-gold);
    stroke-width: 3px;
  }
}

.workfields-feature-block {
  background-color: var(--color-white);
}

.brandwall-image-block {
  margin-top: calc(var(--font-base-line-height) * 3);

  & picture {
    mix-blend-mode: multiply;
  }
}


/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/

input,
select,
button,
textarea
{
  width: 100%;
	margin:0 0 var(--font-base-line-height);
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:var(--font-base-size);
	font-family:var(--font-family-mono);
}

::placeholder {
	font-size:var(--font-micro-size);
}

::-ms-input-placeholder {
	font-size:var(--font-micro-size);
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
  box-sizing:content-box;
  
  padding: calc(var(--font-base-line-height) * .5);
  border-right: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
  box-shadow: none;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}

input:required,
textarea:required {
  background-image: url(../static/images/form-required.svg) !important;
  background-repeat: no-repeat !important;
  background-position: left calc(var(--font-base-line-height) * .5) !important;
  background-size: .5rem !important;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  @include button;
  cursor: pointer;

	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* Textarea
-----------------------------------------------*/

textarea
{
	/* Move the label to the top */
	vertical-align:top;

	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select[multiple]
{
	/* Move the label to the top */
	vertical-align:top;
}
