:root {
  // These go here otherwise they'll be bundled separately on each component
  --font-family-serif: 'Calendas Plus', 'EB Garamond', 'Garamond', 'Athelas', Georgia, Times, serif;
  --font-family-mono: 'IBM Plex Mono', 'Roboto Mono', 'Menlo', 'Courier New', monospace;

  --color-black: #13111e;
  --color-dark-gray: #2a2834;
  --color-gray: #595861;
  --color-light-gray: #b8b7bb;
  --color-very-light-gray: #e7e7e8;
  --color-white: #fff;
  // --color-teal: #1a2831;
  // --color-red: #ff3530;
  --color-gold: #b79b30;
  --color-beige: #f1ecd9;

  --color-fg: var(--color-black);
  --color-bg: var(--color-white);
  --color-accent: var(--color-gold);

  /* Typography */
  --font-unit: 16px;
  --font-ratio: 0.5vw;
  --font-micro-size: calc(var(--font-unit) * 0.625 + var(--font-ratio)); /* 10px */
  --font-micro-line-height: calc(var(--font-unit) * 0.85 + var(--font-ratio)); /* 12px */
  --font-small-size: calc(var(--font-unit) * 0.875 + var(--font-ratio)); /* 14px */
  --font-small-line-height: calc(var(--font-unit) * 1.3125 + var(--font-ratio)); /* 21px */
  --font-base-size: calc(var(--font-unit) + var(--font-ratio)); /* 16px */
  --font-base-line-height: calc(var(--font-unit) * 1.5 + var(--font-ratio)); /* 24px */
  --font-large-size: calc(var(--font-unit) * 1.125 + var(--font-ratio)); /* 18px */
  --font-large-line-height: calc(var(--font-unit) * 1.6875 + var(--font-ratio)); /* 27px */

  --font-title3-size: calc(var(--font-unit) * 1.3125 + var(--font-ratio)); /* 21px */
  --font-title3-line-height: calc(var(--font-unit) * 1.875 + var(--font-ratio)); /* 30px */
  --font-title2-size: calc(var(--font-unit) * 1.5 + var(--font-ratio)); /* 24px */
  --font-title2-line-height: calc(var(--font-unit) * 2.0625 + var(--font-ratio)); /* 33px */
  --font-title1-size: calc(var(--font-unit) * 3.0625 + var(--font-ratio)); /* 49px */
  --font-title1-line-height: calc(var(--font-unit) * 3.5625 + var(--font-ratio)); /* 57px */

  --font-title-mega-size: calc(var(--font-unit) * 4.652 + var(--font-ratio)); /* 74px */
  --font-title-mega-line-height: calc(var(--font-unit) * 5.35 + var(--font-ratio)); /* 85px */
}

html {
  background-color: var(--color-bg);
  font-family: var(--font-family-serif);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: var(--color-fg);
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

caption,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
ol,
ul {
  margin: 0 0 var(--font-base-line-height) 0;
}

ol,
ul {
  padding-left: var(--font-base-line-height);
}

figcaption {
  @include textAlt;
  text-transform: none;
  color: var(--color-gray);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-light-gray);
  margin-bottom: var(--font-base-line-height);

  span[class*='separator'] {
    position: relative;
    padding-left: calc(var(--font-base-line-height) * .5);
    padding-right: calc(var(--font-base-line-height) * .5);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--font-base-line-height) * .5);
      bottom: 0;
      width: 1px;
      background-color: var(--color-light-gray);
    }
  }

  span[class*='attribution'] {
    text-transform: uppercase;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.blockQuote {
  background: var(--color-very-light-gray);
}

.hero__module {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  @include container('wide');
  background-color: var(--color-bg);
}

.hero__module--home {
  background-image: url('../static/images/flos_vitae.svg');
  background-repeat: no-repeat;
  background-position: center -35%;
  background-size: 100%;

  @media($media-min-large) {
    background-position: center -40%;
    background-size: 70%;
  }
}

.heroTitle {
  @include titleMega;
}

.heroSubtitle {
  @include title1;
  max-width: 37.5rem;
  margin-bottom: 0;
}

.heroDescription {
  @include title2;
  max-width: 37.5rem;
  margin-bottom: 0;
}

// Specifics

.principles-feature-block {
  & svg {
    stroke: var(--color-gold);
    stroke-width: 3px;
  }
}

.workfields-feature-block {
  background-color: var(--color-white);
}

.brandwall-image-block {
  margin-top: calc(var(--font-base-line-height) * 3);

  & picture {
    mix-blend-mode: multiply;
  }
}
