.root {
  @include container('wide');
}

.headline {
  @include textAlt;
  @include gridMinor;
  margin: 0 0 calc(var(--font-base-line-height) * 2);
}

.grid {
  @include grid;
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    @include gridMain;

    &:nth-child(2),
    &:nth-child(3) {
      @include gridMinor;
    }
  }
}


.browseMoreNav {
  margin-top: calc(var(--font-base-line-height) * 2);
  @include gridMain;
}

.browseMoreLink {
  @include navLink;
}
