.root {
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  background-color: var(--color-beige);
}

.container {
  @include container('wide');
}

.content {
  p {
    margin-top: calc(var(--font-base-line-height)* .25);
    margin-bottom: 0;
  }

  @media ($media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & > div:first-child:not(:last-child) {
    @media ($media-max-medium) {
      margin-bottom: var(--font-base-line-height);
      padding-bottom: var(--font-base-line-height);
      border-bottom: 1px solid var(--color-accent);
    }
  }
}

.next,
.previous {
  & a {
    text-decoration: none;
  }

  @media (hover: hover) {
    & a:hover,
    & a:active {
      text-decoration: underline;
    }
  }
}

.headline {
  @include navLink;
}
