@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  background-color: var(--color-very-light-gray);
}

.container {
  composes: root from '../container.module.css';

  @media (--media-min-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.next,
.previous {
  @nest & a {
    color: var(--color-gray);
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & a:hover {
      text-decoration: underline;
    }
  }
}

.previous:first-child:not(:last-child) {
  @media (--media-max-small) {
    margin-bottom: calc(16px * 1.5 + 0.5vw);
  }
}

.headline {
  composes: textAlt from '../typography.module.css';
  display: block;
  color: var(--color-accent);
}
