@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  margin: var(--font-base-line-height) 0 calc(var(--font-base-line-height) * 2);
}

.headline {
  composes: textAlt from '../typography.module.css';
  margin: 2rem 0;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: calc(var(--font-base-line-height) * 2);
  grid-row-gap: var(--font-base-line-height);
}

.browseMoreNav {
  margin-top: calc(var(--font-base-line-height) * 2);

  @media (--media-min-medium) {
    grid-column: 2/3;
  }
}

.browseMoreLink {
  composes: navLink from '../typography.module.css';
}
