.root {
  text-decoration: none;
}

.link {
  @extend .root;
  display: block;

  &:last-child {
    border-bottom: none;
  }

  @media ($media-min-large) {
    @include grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.content {
  @include gridMain;
  margin-bottom: var(--font-base-line-height);
}

.title {
  @include title2;
  margin-top: 0;
  margin-bottom: calc(var(--font-base-line-height) * .25);

  @media (hover: hover) {
    .root:hover &,
    .root:active & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  & p {
    margin: 0 0 var(--font-base-line-height);
  }

  & strong {
    font-weight: bold;
  }
}


.date {
  @include textAlt;
  @include gridMinor;
  color: var(--color-accent);

  @media ($media-min-large) {
    padding-top: .5rem;
  }
}
