@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  margin: var(--font-base-line-height) 0 calc(var(--font-base-line-height) * 2);

  @media (--media-min-large) {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: calc(var(--font-base-line-height) * 2);
  }
}

.headline {
  composes: textAlt from '../typography.module.css';
  margin: 0 0 calc(var(--font-base-line-height) * 2);

  @media (--media-min-large) {
    grid-column: 1/2;
  }
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--font-base-line-height);

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: calc(var(--font-base-line-height) * 2);
  }

  @media (--media-min-large) {
    grid-column: 2/3;
  }
}

.browseMoreNav {
  margin-top: calc(var(--font-base-line-height) * 2);

  @media (--media-min-small) {
    grid-column: 2/3;
  }
}

.browseMoreLink {
  composes: navLink from '../typography.module.css';
}
