.root {
  margin-bottom: var(--font-base-line-height);
}

.title {
  @include textAlt;
}

.grid {
  @include grid;
}

.item {
  @include gridMinor;
  @include micro;
  font-family: var(--font-family-mono);
  padding-right: var(--font-base-line-height);
  border-right: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

div[class*='icon-size-normal'] svg {
  max-width: 3.5rem;
  height: auto;
  margin-bottom: var(--font-base-line-height);
}
