.root {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);

  header[class*='header-module--root'],
  div[class*='hero-module--root'] {
    --color-bg: var(--color-white);
    --color-fg: var(--color-black);
  }
}

.body {
  @include container(normal);
}

.email {
  @include title1;

  @media (hover: hover) {
    & a:hover,
    & a:active {
      color: var(--color-accent);
    }
  }
}
