@import '../styles/custom-properties.css';

.root {
  border-top: 1px solid var(--color-very-light-gray);
}

.container {
  composes: root from "./container.module.css";
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next,
.previous {
  @nest & a {
    color: var(--color-black);
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & a:hover {
      text-decoration: underline;
    }
  }
}

.headline {
  composes: sectionHeadline from './typography.module.css';
  display: block;
}
