@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {}

.title {
  composes: title1 from './typography.module.css';
}

.mainImage {
  display: block;
  position: relative;
  background: var(--color-very-light-gray);
  margin-left: -2em;
  margin-right: -2em;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }

  @media (--media-min-small) {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}

.grid {
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 3fr;
  }
}

.mainContent {
  @media (--media-min-medium) {
    grid-column: 2/3;
  }

  @nest & a {
    color: inherit;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.blockContent {
  margin-top: 2rem;
}

.metaContent {
  @media (--media-min-medium) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.publishedAt {
  composes: sectionHeadline from './typography.module.css';
  margin: 0 0 1rem;
  color: var(--color-gray);
}

.categories {
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    padding: 0;
  }

  @nest & a {
    color: inherit;
  }

  @media (hover: hover) {
    @nest & a:hover {
      color: var(--color-accent);
    }
  }
}

.categoriesHeadline {
  composes: sectionHeadline from './typography.module.css';
  padding-bottom: calc( var(--font-base-line-height) * .5);
  margin-bottom: calc( var(--font-base-line-height) * .75);
  border-bottom: 1px solid var(--color-very-light-gray);
}
