@import '../styles/custom-media.css';
@import "../styles/custom-properties.css";

.root {
  padding: var(--font-base-line-height);
  margin: 0 auto;

  @media (--media-min-small) {
    width: 85vw;
    padding: calc(var(--font-base-line-height) * 2) 0;
  }
}
