
.root {
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  background-color: var(--color-bg);
}

.navContainer,
.colophonContainer {
  @include container('wide');
}

.nav {
  @include textAlt;
  text-transform: none;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  & ul li {
    margin-right: 1rem;
  }

  & ul li a {
    display: block;
    text-decoration: none;
    line-height: var(--font-base-line-height);

    &[aria-current='page'] {
      border-bottom: 2px solid var(--color-accent);
    }

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);
      }
    }
  }
}

.colophon {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

}

.colophonContainer {
  & > div {
    border-top: 1px solid var(--color-dark-gray);

    @media($media-min-medium) {
      padding-top: calc(var(--font-small-line-height) * 1.5);
      padding-bottom: calc(var(--font-small-line-height) * 1.5);
    }
  }
}
