@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

/* This is a module in order for CSS Loader to respect the hierarchy */

.button {
  composes: textAlt from './typography.module.css';
  background: var(--color-very-light-gray);
  color: var(--color-gray);
  padding: .5rem .8rem;
  border: 1px solid var(--color-light-gray);
  border-radius: .25rem;
  text-decoration: none;

  @media (hover: hover) {
    @nest &:hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }
}
