.root {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);

  position: relative;
  background-color: var(--color-bg);
}

.container {
  @include container('wide');
}

.content {
  display: flex;
}

.branding {
  flex: 1;

  & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        color: var(--color-accent);

        & svg {
          fill: var(--color-accent);
        }
      }
    }
  }

  @media ($media-min-medium) {
    flex: unset;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.logo {
  width: 7vw;
  max-width: 3.25rem;
  height: auto;
  float: left;
  margin-right: 1rem;

  svg {
    fill: var(--color-fg);
  }
}

.toggleNavButton {
  cursor: pointer;
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: calc(14 / 17 / 2 * -1rem) 0 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: var(--color-fg);

  & svg {
    display: block;
    fill: inherit;
  }

  @media ($media-min-medium) {
    display: none;
  }
}

.nav {
  display: none;
  @include textAlt;

  & ul {
    margin: 0;
    padding: 0;
  }

  & ul li a {
    display: block;
    color: var(--color-fg);
    text-decoration: none;
    line-height: var(--font-base-line-height);

    & [aria-current='page'] {
      text-decoration: underline;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }
  }

  @media ($media-max-medium) {
    position: absolute;
    background: var(--color-bg);
    left: 0;
    right: 0;
    top: 4.3rem;

    & ul {
      padding: 1rem 0;
    }

    & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media ($media-min-medium) {
    display: block;
    width: 100%;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    & ul li a {
      padding: 0.5rem;
      line-height: 1;
    }
  }
}

.showNav {
  display: block;
}
