@-webkit-keyframes rotating { // Safari + Chrome
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.root {
  --color-bg: var(--color-black);
  --color-fg: var(--color-white);

  position: relative;
  background-color: var(--color-bg);
  z-index: 50;
}

.container {
  @include container('wide');
}

.content {
  display: flex;
}

.branding {
  flex: 1;

  & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);

        & svg {
          fill: var(--color-accent);
        }
      }
    }
  }

  @media ($media-min-medium) {
    flex: unset;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.logo {
  position: relative;
  width: 7vw;
  max-width: 3.25rem;
  height: auto;

  svg {
    fill: var(--color-fg);
    transition: fill 0.5s ease;
  }

  &:after {
    content: '';
    position: absolute;
    width: 430%;
    height: 500%;
    top: -204%;
    left: -165.5%;
    pointer-events: none;
    background: url('../static/logo_rays.svg') center no-repeat;
  }

  @media ($media-min-medium) {
    &:after {
      transform-origin: center;
      -webkit-animation: rotating 60s linear infinite;
      -o-animation: rotating 77s linear infinite;
      animation: rotating 77s linear infinite;
    }
  }
}

.toggleNavButton {
  cursor: pointer;
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: calc(14 / 17 / 2 * -1rem) 0 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;

  & svg {
    display: block;
    fill: inherit;
  }

  @media ($media-min-medium) {
    display: none;
  }
}

.nav {
  display: none;
  @include textAlt;

  & ul {
    margin: 0;
    padding: 0;
  }

  & ul li a {
    display: block;
    text-decoration: none;
    line-height: var(--font-base-line-height);
    transition: color 0.5s ease;

    &[aria-current='page'] {
      color: var(--color-accent);
    }

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);
      }
    }
  }

  @media ($media-max-medium) {
    position: absolute;
    background: var(--color-bg);
    left: 0;
    right: 0;
    top: 4.3rem;
    z-index: 100;

    & ul {
      padding: 1rem 0;
    }

    & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media ($media-min-medium) {
    display: block;
    width: 100%;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    & ul li a {
      padding: 0.5rem 0;
      line-height: 1;

      &[aria-current='page'] {
        color: var(--color-fg);
        border-bottom: 2px solid var(--color-accent);
      }

      @media (hover: hover) {
        &:hover,
        &:active {
          color: var(--color-accent);
        }
      }
    }
  }
}

.showNav {
  display: block;
}

.separator {
  display: none;
  visibility: hidden;

  @media($media-min-medium) {
    display: block;
    width: 7vw;
    max-width: 3.25rem;
  }
}
