.root {}

.title {
  @include title1;
}

.mainImage {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-black) 0,
    var(--color-black) 50%,
    var(--color-white) 0,
    var(--color-white)
  );
}

.mainImageContainer {
  @include container('wide');
  padding-top: 0;
  padding-bottom: 0;
}

.grid {
  @media ($media-min-medium) {
    display: grid;
    grid-column-gap: calc(var(--font-base-line-height) * 2);
    grid-template-columns: 2fr 5fr;
  }
}

.mainContent {
  @media ($media-min-medium) {
    grid-column: 2/3;
  }

  & a {
    color: inherit;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }

  & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  & figure {
    margin: 0;
    padding: 0;

    & img {
      max-width: 100%;
    }
  }
}

.blockContent {
  margin-top: calc(var(--font-base-line-height) * 2);
}
