.root {}

.headerContainer {
  @include container('wide');
  background-color: var(--color-black);
  --color-fg: var(--color-white);
}

.title {
  @include titleMega;
}

.lead {
  @include title2;
  margin-top: 0;
  font-family: var(--font-family-mono);

  p {
    max-width: 30rem;
    margin-bottom: 0
  }
}

.mainImage {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-black) 0,
    var(--color-black) 50%,
    var(--color-beige) 0,
    var(--color-beige)
  );
}

.mainImageContainer {
  @include container('wide');

  figure {
    margin-bottom: 0;
  }

  @media ($media-min-medium) {
    & > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.mainContainer {
  @include bodyContainer;
  background-color: var(--color-beige);

  & a {
    color: inherit;

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);
      }
    }
  }
}
