.headerContainer {
  @include container('wide');
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  background-color: var(--color-bg);

  & > .headerContent {
    padding-top: calc(var(--font-base-line-height) * 8);

    @media ($media-min-medium) {
      padding-top: calc(var(--font-base-line-height) * 12);
      padding-bottom: calc(var(--font-base-line-height) * 2);
    }

    @media ($media-min-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.title {
  @include titleMega;

  &:after {
    content: '\2009\AC';
    display: inline-block;
    color: var(--color-accent);
  }
}

.lead {
  @include title2;
  position: relative;
  margin-top: 0;
  font-family: var(--font-family-mono);

  p {
    max-width: 37.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: normal;
    color: var(--color-accent);
  }

  @media($media-min-medium) {
    &:after {
      position: absolute;
      content: '';
      width: 0.275rem;
      height: calc(var(--font-base-line-height) * 3);
      top: calc(var(--font-base-line-height) + 100%);
      left: 0;
      background: var(--color-accent);
    }
  }
}

.mainImage {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-white) 0,
    var(--color-white) 50%,
    var(--color-beige) 0,
    var(--color-beige)
  );
}

.mainImageContainer {
  @include container('wide');

  figure {
    margin-bottom: 0;
  }

  @media ($media-min-medium) {
    & > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.mainContent {
  @include bodyContainer;
  background-color: var(--color-beige);

  & a {
    color: inherit;

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);
      }
    }
  }
}
