@import '../styles/custom-properties.css';

.root {
  border-top: 1px solid var(--color-very-light-gray);
}

.container {
  composes: root from "./container.module.css";
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nextNav,
.previousNav {
}
