.root {
}

.mainImage {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-black) 0,
    var(--color-black) 50%,
    var(--color-white) 0,
    var(--color-white)
  );
}

.mainImageContainer {
  @include container('wide');

  @media ($media-min-medium) {
    & > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.headerContainer {
  @include container('wide');
  background-color: var(--color-black);
  --color-fg: var(--color-white);
  color: var(--color-fg);
}

.title {
  @include title1;
  margin-bottom: calc( var(--font-base-line-height) * .5);
}

.publishedAt {
  @include textAlt;
}

.categories {
  @include textAlt;
  list-style: none;
  padding: 0;
  display: flex;

  & li {
    margin-right: .5rem;
  }

  & a {
    color: var(--color-accent);
    text-decoration: none;
    border: 1px solid var(--color-accent);
    padding: .5rem 1rem;
    border-radius: 2px;
  }

  @media (hover: hover) {
    & a:hover {
      color: var(--color-black);
      background-color: var(--color-accent);
    }
  }
}

.mainContainer {
  @include container('normal');
}

.mainContent {
  & a {
    color: inherit;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: 600;
  }

  & figure {
    margin: 0;
    padding: 0;

    & img {
      max-width: 100%;
    }
  }
}

.subscribe {
  @include container('normal');
  text-align: center;
}

.subscribeContent {
  border-top: 1px solid var(--color-light-gray);
}

.subscribeTitle {
  margin-bottom: 0;
}

.subscribeLink {
  @include textAlt;
  display: inline-block;
  color: var(--color-accent);
  line-height: var(--font-base-line-height);
  text-decoration: none;
  padding: .25rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--color-accent);

  @media (hover: hover) {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-accent);
    }
  }
}
