.root {
}

.mainImage {
  display: block;
  background: linear-gradient(
    180deg,
    var(--color-black) 0,
    var(--color-black) 50%,
    var(--color-white) 0,
    var(--color-white)
  );
}

.mainImageContainer {
  @include container('wide');

  figure {
    margin-bottom: 0;
  }

  @media ($media-min-medium) {
    & > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.headerContainer {
  @include container('wide');
  background-color: var(--color-black);
  --color-fg: var(--color-white);
}

.title {
  @include title1;
  margin-bottom: calc( var(--font-base-line-height) * .5);
}

.publishedAt {
  @include textAlt;
}

.categories {
  @include textAlt;
  list-style: none;
  padding: 0;
  display: flex;

  & li {
    margin-right: .5rem;
  }

  & a {
    @include button
  }

  @media (hover: hover) {
    & a:hover,
    & a:active {
      color: var(--color-black);
      background-color: var(--color-accent);
    }
  }
}


.lead {
  @include title2;

  // Just copying the values from layout-size-large because I cannot use the mixin
  padding: var(--font-base-line-height);

  @media($media-min-medium) {
    padding-left: calc(var(--font-base-line-height) * 2);
    padding-right: calc(var(--font-base-line-height) * 2);
    padding-top: calc(var(--font-base-line-height) * 3);
    margin-bottom: calc(var(--font-base-line-height) * -2);
  }

  & p {
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.mainContainer {
  @include bodyContainer;

  & a {
    color: inherit;

    @media (hover: hover) {
      &:hover,
      &:active {
        color: var(--color-accent);
      }
    }
  }
}

