.atFeed {
  @include container('wide');
  text-align: center;
}

.atEntry {
  @include container('normal');
  text-align: center;
}

.content {
  border-top: 1px solid rgba(70,70,70,.5);
}

.title {
  margin-bottom: 0;
}

.link {
  @include button;
}
