@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.title1 {
  font-weight: 600;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin: 1rem 0 2rem;

  @media (--media-min-small) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }
}

.title2 {
  font-weight: 600;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 1.5rem 0 0.5rem;

  @media (--media-min-small) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.title3 {
  font-weight: 600;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 1rem 0 0.5rem;

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }
}

.title4 {
  font-weight: 600;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 1rem 0 0.5rem;

  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.large {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

.base {
  font-size: inherit;
  line-height: inherit;
}

.small {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}

.micro {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
}

.sectionHeadline {
  font-family: var(--font-family-mono);
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

caption,
dl,
dd,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
ol,
ul {
  margin: 0 0 var(--font-base-line-height) 0;
}

ol,
ul {
  padding-left: var(--font-base-line-height);
}

.blockQuote {
  background: var(--color-very-light-gray);
}

figcaption {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--color-dark-gray);
  margin-bottom: 1rem;
}
