@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

/* This is a module in order for CSS Loader to respect the hierarchy */

.title1 {
  font-weight: 400;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  letter-spacing: -.015em;
  margin:var(--font-base-line-height) 0 calc(var(--font-base-line-height) * 2);

  @media (--media-min-small) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }
}

.title2 {
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -.015em;
  margin: calc(var(--font-base-line-height) * 1.5) 0 calc(var(--font-base-line-height) * .5);

  @media (--media-min-small) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.title3 {
  font-weight: 600;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -.015em;
  margin: var(--font-base-line-height) 0 calc(var(--font-base-line-height) * .5);

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }
}

.title4 {
  font-weight: 600;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: var(--font-base-line-height) 0 calc(var(--font-base-line-height) * .5);

  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.large {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  letter-spacing: -.015em;
}

.base {
  font-size: inherit;
  line-height: inherit;
}

.small {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  letter-spacing: -.015em;
}

.micro {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
}

.textAlt {
  font-family: var(--font-family-mono);
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.navLink {
  composes: textAlt;
  display: block;
  color: var(--color-accent);
  text-decoration: none;

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}
